{{#each this}}
<li class="country-list__item">
        <img
          class="country-list__img"
          src="{{flags.svg}}"
          alt="this is flag"
          />
        <h2 class="country-list__title">{{name.official}}</h2>
      </li>
{{/each}}